<form class="container" 
  [formGroup] = "form"
(ngSubmit)="onSubmit(form.value)">
  <input type="text" name="firstname" placeholder="firstname" formControlName = "firstName">
  <br>
  <input type="text" name="lastname" placeholder="lastname" formControlName = "lastName">
  <br>
  <select name="langulages" formControlName = "language">
    <option value="C++">C++</option>
    <option value="C#">C#</option>
    <option value="C">C</option>
    <option value="Phyton">Phyton</option>
    <option value="Angular">Angular</option>
    <option value="PHP">PHP</option>
  </select>
  <br>
  <br>
  <input type="submit" name="submit">
</form>
