<form class="container" 
  [formGroup] = "form">
<input type="text" name="decimal"
(ngModelChange) = "decimalChanged(oldValue, newValue = $event)" 
placeholder="Decimal" 
formControlName = "decimal">
<br>
<input type="text" name="binary"
(ngModelChange) = "binaryChanged(oldValue, newValue = $event)" 
 placeholder="Binary" formControlName = "binary">
<br>
<input type="text" 
(ngModelChange) = "octalChanged(oldValue, newValue = $event)"
placeholder="Octal" formControlName = "octal">
<br>
<input type="text" 
(ngModelChange) = "hexalChanged(oldValue, newValue = $event)"
placeholder="Hexa" formControlName = "hexal">
<br>
</form>
