body
{
	background-color: #e6e6e6; 
}

.home
{
	display: flex;
	height: 100vh;
	background-color: #666666;
	padding: 0;
}

nav.page
{
	flex: 3;
	background-color: black;
	color: white;
	height: 100vh;
}

nav.page ul
{
	list-style: none;
}

nav.page ul li
{
	margin: 20px;
}

.home-page-content
{
	flex: 10;
	background-color: orange;
	height: 100vh;
}